// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'node_modules/bootstrap/scss/bootstrap';

//* {
//    border: 1px solid #f00 !important;
//}
/***************DESKTOP**************/
.page-title{
    //margin-top: 0.5em;
    text-align: center;
    margin-bottom: 1em;
}

.navbar{
    position: fixed;
    width: 100%;
    z-index: 1040;
    top: 0px;
}

.alert.alert-succes{
    background: #d4edda;
    margin-top: 1.5em;
}

.container.content.dashboard{
    margin-top: 115px;
}
.container.content.login{
    margin-top: 115px;
}
.container.content.register{
    margin-top: 115px;
}

/***********Página mi cuenta******************/
.container.content.photo{
    margin-top: 115px;
}
.image-profile-container{
    text-align: center;
    display: block;
    .image-container{
        width: 130px;
        height: 130px;
        .card-img{
            border-radius: 50%;
            width: 130px;
            height: 130px;
            cursor:pointer;
            box-shadow: 0px 0px 17px 8px rgba(0,0,0,0.35);
            &:hover{
                margin-top:3px;
                margin-bottom: -3px;
                box-shadow: 0px -4px 20px 0px rgba(0,0,0,0.68);
            }
        }

    }
    .avatar-circle {
        width: 130px;
        height: 130px;
        background-color: $custom-blue;
        text-align: center;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        display: inline-block;
        box-shadow: 0px 0px 25px 6px rgba(0,0,0,0.35);
        cursor:pointer;
        .initials {
            position: relative;
            top: 45px; /* 25% of parent */
            font-size: 50px; /* 50% of parent */
            line-height: 50px; /* 50% of parent */
            color: #fff;
            font-family: "Courier New", monospace;
            font-weight: bold;
        }
        &:hover{
            margin-top:3px;
            margin-bottom: -3px;
            box-shadow: 0px -4px 20px 0px rgba(0,0,0,0.68);
        }
    }

}

.label-info{
    font-size: 16px;
    font-weight: bold;
}

.action-photo{
    margin-top: 1em;
}
/********************************************/

/*******Pagina estudios********/
.content.content.studies{
    margin-top: 115px;
}
.studies{

    .empty-text{
        text-align:center;
        font-size: 18px;
    }
    .empty-text-subjects{
        text-align: center;
        font-size: 18px;
        margin-top: 4.5em;
    }
    .empty-img{
        width: 85%;
    }
    .empty-img-subjects{
        width: 85%;
    }
    //.years-list-item:nth-child(odd){
    //    background: rgba(52, 144, 220, 0.25) !important;
    //
    //}
    .button-add-study{
        float: right;
        margin-right: 8em;
        margin-bottom: 1em;
    }
    .courses{
        .button-add-course{
            cursor: pointer;
            float: right;
            &:hover{
                font-weight: bold;
            }
        }
        //height: 550px;
        height: auto;
        max-height: 550px;
        width: 100%;
        overflow-y: scroll;
        margin-bottom: 2em;
        .card-header{
            margin-right: 7em;
            cursor: pointer;
            .study-name-title {
                font-size: 16px;
                text-decoration: none;
                font-weight: bold;
                &:hover{
                    font-weight: bold;
                }
            }
            &:hover{
                background: lightgrey;
                .study-name-title {
                    font-weight: bold;

                }
            }
        }

        .years-list-item{
            //background: rgba(52, 144, 220, 0.25) !important;
            border-bottom: 1px solid rgba(52, 144, 220, 0.25);
            cursor: pointer;
            padding-bottom: 0.3em;
            &:hover{
                background: rgba(52, 144, 220, 0.25) !important;
            }
        }
        .year-list-item{
            border: 5px solid blue;
        }
        .year-list{
            list-style: none;
            padding-left: 0;
            margin-right: 7em;
            .year-range{
                padding-left: 20px;
                font-weight: bold;
                padding-top: 0.6em;
                /* padding-bottom: 0.6em; */
                margin-bottom: 0;
            }
            .date-range{
                padding-left: 20px;
                padding-top: 0.6em;
                /* padding-bottom: 0.6em; */
                margin-bottom: 0;
            }
        }
    }

    .subjects{

        .card-header{
            margin-top: 4em;
            .study-year-title {
                font-size: 16px;
                text-decoration: none;
                &:hover{
                    font-weight: bold;
                    text-decoration: none;
                }
            }
        }
        .subjects-section{
            height: 505px;
            width: 100%;
            overflow-y: scroll;
            margin-bottom: 2em;
            .subjects-list{
                list-style: none;
                padding-left: 0;
                .subjects-list-item{
                    border-bottom: 1px solid rgba(52, 144, 220, 0.25);
                    //border-left: 20px solid coral;
                    padding-top: 0.7em;
                    padding-bottom: 0.7em;
                    cursor:pointer;
                    .item{
                        padding-left: 20px;
                    }
                    .item.name{
                        display: inline-block;
                        float: left;
                        margin-bottom: 0;
                    }
                    .item.period{
                        display: inline-block;
                        margin-bottom: 0;
                    }
                    &:hover{
                        background: rgba(52, 144, 220, 0.25) !important;
                        .item{
                            font-weight: bold;
                        }
                    }
                }
                //.subjects-list-item:nth-child(odd){
                //    background: rgba(52, 144, 220, 0.25) !important;
                //}
            }
        }
    }
    .button-add-subject{
        float: right;
    }
}

/***********PÁGINA STUDY***********/
.py-4{
    padding-top: 0 !important;
}

.study{
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    /* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

    .wrapper {
        display: flex;
        width: 100%;
    }

    #sidebar {
        width: 315px;
        position: fixed;
        //top: 0;
        left: 0;
        height: 100vh;
        z-index: 999;
        background: #7386D5;
        color: #fff;
        transition: all 0.3s;
        top: 85px;
    }

    #sidebar.active {
        margin-left: -250px;
    }

    #sidebar .sidebar-header {
        padding: 20px;
        background: #6d7fcc;
    }

    #sidebar ul.components {
        padding: 20px 0;
        border-bottom: 1px solid #47748b;
    }

    #sidebar ul p {
        color: #fff;
        padding: 10px;
    }

    #sidebar ul li a {
        padding: 10px;
        font-size: 1.1em;
        display: block;
        color: white;
    }

    #sidebar ul li a:hover {
        color: #7386D5;
        background: #fff;
        text-decoration: none;
    }

    #sidebar ul li.active>a,
    a[aria-expanded="true"] {
        color: #fff;
        background: #6d7fcc;
    }

    a[data-toggle="collapse"] {
        position: relative;
    }

    .dropdown-toggle::after {
        display: block;
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
    }

    ul ul a {
        font-size: 0.9em !important;
        padding-left: 30px !important;
        background: #6d7fcc;
    }

    ul.CTAs {
        padding: 20px;
    }

    ul.CTAs a {
        text-align: center;
        font-size: 0.9em !important;
        display: block;
        border-radius: 5px;
        margin-bottom: 5px;
    }

    a.download {
        background: #fff;
        color: #7386D5;
    }

    a.article,
    a.article:hover {
        background: #6d7fcc !important;
        color: #fff !important;
    }

    .years .year-list-item{
        border-bottom: 1px solid rgba(228, 234, 239, 0.25);
        .year-range{
            font-weight: bold;
        }
        .date-range{
            cursor:pointer;
        }
        &:hover{

            a{
               background: #5e6a9a !important;
            }
        }

    }
    .content.year{
        margin-top: 115px;
        h4{
            text-align: center;
        }
        div.delete-subject-div{
            content:url("/images/borrar.png");
            //width: 4%;
            width: 16px;
            float: right;
            cursor:pointer;
            margin-right: 1.3em;
            margin-top: 1.3em;
            margin-left: 1.2em;
        }
        .btn-add-subject{
            margin-bottom: 1em;
        }
    }
}
.subject{
    .subject-content{
        width: 50%;
    }
}

/*************PÁGINA SUBJECT*************************************/

.subject{
    .subject-content.subject-page-content{
        width: 90%;
    }
    .subject-content{
        margin-bottom: 2em;
        width: 100%;
        .card-header{
            a{
                //font-size: 18px;
                font-size: 15px;
                color: #3490dc;
                cursor:pointer;
                font-weight: bold;
            }
            margin-bottom: 1em;

            .btn.btn-primary.add-section{
                float: right;
                border-radius: 50%;
                padding-top: 0px;
                padding-left: 8px;
                padding-right: 8px;
                background: transparent;
                color: #3490dc;
                font-size: 1.3em;
                padding-bottom: 0;
                &:hover{
                    background: #3490dc;
                    color: white;
                }
            }
            div.add-section-div{
                content:url("/images/anadir.png");
                width: 19px;
                float: right;
                cursor:pointer;
                margin-top: 0.4em;
            }
            div.edit-subject-div{
                content:url("/images/038-edit.png");
                width: 16px;
                display: inline-block;
                cursor:pointer;
                margin-left: 1em;
                margin-bottom: -0.35em;
            }
        }
        div.delete-section-div{
            content:url("/images/borrar.png");
            //width: 2.8%;
            width: 16px;
            float: right;
            cursor:pointer;
            margin-right: 1.3em;
            margin-top: 1em;
        }
    }
    .subject-section{
        //margin-left: 20px;
        margin-bottom: 1.5em;
        .section-title{
            padding-top: 0.5em;
            padding-bottom: 0.5em;
            font-size: 15px;
            padding-left: 1em;
            background: #eaf4fd;
            cursor:pointer;
            p{
                margin-bottom: 0;
            }
            border-bottom: 1px solid rgba(52, 144, 220, 0.25);
        }
        .section-item{
            ul{
                padding-left: 0;
                li{
                    list-style: none;
                    border-bottom: 1px solid rgba(52, 144, 220, 0.25);
                    padding-top: 1.5em;
                    padding-bottom: 1.5em;
                    padding-left: 2em;
                    div.delete-file-div{
                        content:url("/images/interfaz_delete.png");
                        //width: 2.8%;
                        width: 9px;
                        float: right;
                        cursor:pointer;
                        margin-right: 1.3em;
                        margin-top: 0.3em;
                    }
                }
            }
        }
        .btn.btn-danger.delete-file{
            float:right;
            margin-right: 1.4em;
            border-radius: 50%;
            padding-right: 7px;
            padding-left: 7px;
            padding-top: 0;
            padding-bottom: 0;
            background: white;
            color: red;
            &:hover{
                background: red;
                color: white;
            }
        }

    }
}
/**********SUBJECT PAGE*******/

.subject.subject-page{
    margin-top: 115px;
    .title-subject{
        margin-bottom: 1em;
        text-align: center;
    }
}



.subject-section{
    .alert.alert-succes.alert-dismissible.fade.show{
        position: fixed;
        bottom: 0;
        left:35%;
        z-index:1;
    }
    .alert.alert-danger.alert-dismissible.fade.show{
        position: fixed;
        bottom: 0;
        left:35%;
        z-index:1;
    }
    .alert.uploading{
        position: fixed;
        bottom: 0;
        left:35%;
        width: 300px;
        img{
            width:30%;
            margin-left: 10%;
        }
    }
    .section-title{
        p{
            display:inline-block;
        }
        .add-file{
            float: right;
            border-radius: 50%;
            padding-top: 0px;
            padding-left: 8px;
            padding-right: 8px;
            background: transparent;
            color: #3490dc;
            font-size: 1.3em;
            padding-bottom: 0;
            &:hover{
                background: #3490dc;
                color: white;
            }
        }
        div.add-file-div{
            content:url("/images/add-file.png");
           // width: 4%;
            width: 19px;
            float: right;
            cursor:pointer;
            margin-right: 0.5em;
            margin-top: 0.4em;
        }
    }
}

/************************PAGINA AGENDA*********************/
.agenda-page{
    margin-left: 60%;
    width: 40%;
    position: absolute;
}
.agenda-page.subject-page{ //ADDED
    margin-left: 43%;
    width: 29%;
    position: absolute;
}
.agenda-page.dashboard{
    margin-left: 0;
    width: 100%;
    //position: absolute;
}

/**************PLANNER PAGE****************/
.container.content.planner{

    margin-top: 115px;
    .planner-title{
        text-align: center;
        margin-bottom:1.5em;
    }
    .checkbox-show-old{
        margin-bottom: 1em;
        display:inline-block;
        #checkbox{
            width: 15px;
            height: 15px;
            display:inline-block;
        }
        #checkbox-planner-tag{
            width: 15px;
            height: 15px;
            display:inline-block;
        }
    }
    .add-event{
        float: right;
    }
    .custom-card-event{
        margin-bottom: 1.5em;
        .event-date{
            margin-left:0;
            font-weight: bold;
            color:#3490dc;
            //display: inline-block;
            font-size: 15px;
        }
        .card-body{
            padding-bottom:0;
            padding-right: 0.5em;
            padding-left: 1em;
            .event-name{
                font-weight:bold;
                font-size: 15px;
            }
            .event-time{
                font-weight:bold;
                display: inline-block;
                margin-bottom: 1em;
            }
            .event-description{
                margin-bottom: 0.5em;
            }
            .event-subject-name{
                display: inline-block;
                float: right;
                font-size: 15px;
                font-weight: bold;
            }
            .actions-planner-events{
                display: inline-block;
                float: right;
                div.edit-event-div{
                    content:url("/images/038-edit.png");
                    width: 16px;
                    cursor:pointer;
                    //display: inline-block;
                    visibility:hidden;
                }
                div.delete-event-div{
                    content:url("/images/borrar.png");
                    width: 16px;
                    cursor:pointer;
                    //display:inline-block;
                    visibility: hidden;
                }
            }
            &:hover{
                .actions-planner-events{
                    div.edit-event-div{
                        visibility:visible;
                        display: inline-block;
                    }
                    div.delete-event-div{
                        visibility: visible;
                        display: inline-block;
                    }
                }
            }

        }
    }
    .empty-event-photo{
        .empty-img-events{
            width: 50%;
            margin-top: 5em;
            margin-left: 25%;
        }
        .empty-img-events-dashboard{
            width: 100%;
            margin-top: 5em;
        }
        h5{
            text-align: center;
            margin-top: 1em;
            font-weight: bold;
            color: #3490dc;
            margin-bottom: 2em;
        }
    }
}
.container.content.planner.dashboard{
    margin-top:0;
    .empty-event-photo{
        .empty-img-events{
            width: 100%;
            margin-top: 5em;
        }
        h5{
            text-align: center;
            margin-top: 1em;
            font-weight: bold;
            color: #3490dc;
            margin-bottom: 2em;
        }
    }

}
.container.content.year.dashboard{
    .title-study-name{
        text-align: center;
        cursor: pointer;
    }
    .title-year-dates{
        text-align: center;
        font-weight: bold;
        color: #3490dc;
        cursor: pointer;
    }
    margin-top:0;
    .btn.btn-primary.btn-add-subject{
        margin-bottom: 1em;
    }
    .dashboard-year{
        height: auto;
        max-height: 550px;
        width: 100%;
        overflow-y: scroll;
    }
    .section-empty-studies{
        h3{
            text-align:center;
        }
        .empty-img-studies{
            width:90%;
            margin-top:2em;
            margin-bottom:2em;
        }
        h5{
            text-align: center;
            font-weight: bold;
            color: #3490dc;
        }
        .btn-gestion-estudios{
            margin-left:25%;
            margin-right:25%;
            margin-top: 2em;
            margin-bottom: 2em;
        }
    }
    .btn-add-subject{
        margin-left: 30%;
        margin-right: 30%;
        margin-top: 1em;
        margin-bottom: 1em;
    }
    .empty-subject-photo{
        .empty-img-subjects{
            width:100%;
            margin-top:4em;
        }
        h5{
            text-align: center;
            margin-top: 1em;
            font-weight: bold;
            color: #3490dc;
        }
    }

}
/*******************TO DO LIST**********************/
.container.content.todo-list.dashboard{
    .title-todo-list{
        text-align: center;
    }
    .form-add-task{
        margin-top: 2em;
        .input-description{
            margin-bottom: 1em;
        }
        .input-date{
            margin-bottom: 1em;
        }
        .select-subjects-tasks{
            width: 75%;
            display: block;
            margin-bottom: 1em;
        }
        .label-for-date-event{
            display: block;
        }
    }
    margin-top:0;
    .section-item{
        ul{
            padding-left: 0;
            border-top: 1px solid rgba(52, 144, 220, 0.25);
            li{
                list-style: none;
                border-bottom: 1px solid rgba(52, 144, 220, 0.25);
                padding-top: 0.2em;
                padding-left: 0.5em;
                p{
                    display: inline-block;
                }
                .task_description{
                    display: block;
                    margin-bottom: 0;
                    font-weight: bold;
                    cursor: pointer;
                }
                .task_subject{
                    margin-bottom: 0.5em;
                    font-size: 12px;
                    margin-top: 0.5em;
                }
                .task_date{
                    font-size: 12px;
                    color: #3490dc;
                    margin-bottom: 0.5em;
                    margin-left: 3%;
                }
                div.delete-task-div{
                    content:url("/images/interfaz_delete.png");
                    width: 9px;
                    float: right;
                    cursor:pointer;
                    margin-right: 0em;

                }
                div.urgent-task-div{
                    content:url("/images/alerta.png");
                    width: 20px;
                    display: inline-block;
                }
                div.check-done{
                    display: inline-block;
                    width: 22px;
                    .checkbox-task{
                        cursor: pointer;
                        margin-left: 0.3em;
                    }
                    .checkbox-task2{
                        cursor: pointer;
                        margin-left: 0.3em;
                    }
                    .tachado-img{
                        opacity: 0.5;
                    }
                }
                .task-item{
                    display: inline-block;
                    width: 90%;
                    padding-left: 0.45em;
                    .tachado{
                        text-decoration: line-through;
                        color: grey;
                    }

                }
            }
        }
    }
    .empty-tasks-photo{
        .empty-img-tasks{
            width: 100%;
        }
        .description-empty-tasks{
            text-align: center;
            margin-top: 1.5em;
            font-weight: bold;
            color: #3490dc;
        }
        .description-empty-tasks.second{
            margin-top: 0;
        }
    }
}
.container.agenda-page.subject-page.tag-todo-list{
    margin-top: 115px;
    margin-left: 70%;
    width: 30%;
}

/*************PAGE SCHEDULES*************/
.container.content.schedules{
    margin-top: 115px;
}


/**************************MOBILE*************************************/

@media only screen and (max-width: 1400px) {
    .studies .courses .card-header {
        margin-right: 0;
    }
    .studies .courses .year-list {
        margin-right: 0;
    }
}

@media only screen and (max-width: 1024px) {

    .agenda-page{
        margin-left: 0;
        width: 100%;
        top: 0;
        position: initial;
    }
    .agenda-page.subject-page{ //ADDED
        margin-left: 0;
        width: 100%;
        top: 0;
        position: initial;
    }

    .agenda-page.subject-page.tag-todo-list{
        margin-left: 0 !important;
        width: 100% !important;
        top: 0 !important;
    }
}

@media only screen and (max-width: 992px) {
    .studies .courses .card-header {
        margin-right: 0;
    }
    .studies .courses .year-list {
        margin-right: 0;
    }
    .row{
        display: block;
    }

    .container.content.planner{
        .custom-card-event{
            .card{
                width: 100% !important;
            }
        }
    }

}

/********TEST**************/
#sidebar-wrapper {
    z-index: 1;
    margin-top: 83px;
    position: fixed;
    min-height: 100vh;
    //margin-left: -15rem;
    margin-left: -75%;//-100%
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.5rem;
    padding-top: 1.2em;
}
#sidebar-wrapper .sidebar-heading.study-link{
  cursor:pointer;
}



#sidebar-wrapper .list-group {
    //width: 15rem;
    width: 100%;
    .add-year{
        margin-left: 1em;
        margin-top: 1em;
    }
    .list-group-item{
        cursor:pointer;
        a{
            display:block;
        }
        .year-range{
            color: #3490dc;
            font-weight: bold;
        }
        &:hover{
            background: rgba(52, 144, 220, 0.25) !important;
            a{
                font-weight: bold;
            }
        }
    }
}
#sidebar-wrapper .sidebar-heading{
    .btn.btn-primary{
        position: absolute !important;
        left:300px !important;
    }
}

#page-content-wrapper {
    //min-width: 100vw;
    min-width: 96vw;
    #menu-toggle{
        z-index: 2;
        top: 75px;
        //position: absolute;
        position: fixed;
        left: 10px;
        padding-top: 0;
        padding-bottom: 0;
    }
}

#page-content-wrapper-subject-page {
    //min-width: 100vw;
    min-width: 96vw;
    #menu-toggle-subject-page{
        z-index: 2;
        top: 75px;
        //position: absolute;
        position: fixed;
        left: 10px;
        padding-top: 0;
        padding-bottom: 0;
    }
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

@media (min-width: 1024px) { //768px
    #sidebar-wrapper {
        margin-left: 0;
        width: 15%;

    }

    #page-content-wrapper {
        #menu-toggle{
            top: 100px;
            position: absolute;
            left: 15px;
            display: none;
        }
        min-width: 0;
        //width: 84%;
        width:42%;
        position: absolute;
        left: 16%;
    }
    #page-content-wrapper-subject-page{
        #menu-toggle-subject-page{
            top: 100px;
            position: absolute;
            left: 15px;
            display: none;
        }
        min-width: 0;
        width:30%;
        position: absolute;
        left: 16%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -75%;
        //margin-left: -15rem;
    }

}

/************************/
